*{
    margin:0;
    padding:0;
}

body{
    background-image:url("new.jpg.avif");
    background-size:cover;
    color:white;
    font-family:"Poppins","sans-serif";
}
.btn_one{
    font-size:30px;
    font-weight: 600;
    position:absolute;
    left:15px;
    line-height:50px;
    transition:all 0.3s linear;
}
.sidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width:250px;
    background-color:rgb(49, 56, 56,0.7);
    box-shadow: 0px 0px 4px lightgray;
    transition:all 0.3s linear;

}
.sidebar_menu .logo{
    position:absolute;
    width:100%;
    line-height: 60px;
    box-shadow: 0px 2px 6px gainsboro;
    height:60px;

}
.sidebar_menu .logo a{
    position:absolute;
    left:30px ;
    color:white;
    text-decoration: none;
    font-size:20px;
    font-weight:500;
}
.sidebar_menu .menu{
    width:100%;
    position: absolute;
    top:80px;
}
.sidebar_menu .btn_two{
    position:absolute;
    color: grey;
    font-size:30px;
    line-height:60px;
    left:200px;
    transition:all 0.3s linear;
}
.sidebar_menu .menu li{
    margin-top:6px;
    padding:10px 20px;
}
.sidebar_menu .menu li a,i{
    text-decoration: none;
    color:white;
}
.sidebar_menu .menu li i{
    padding-right:10px;

}
.sidebar_menu .social_media{
    color:rgb(255,255,255,0.5);
    position: absolute;
    left:25%;
    bottom:25px;
}
.sidebar_menu .social_media i{
    padding:0 5px;
}
input{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 6px gainsboro;
}
.btn_one:hover{
    font-size:45px;
}
.btn_two:hover{
    font-size:40px;
}
.sidebar_menu .social_media i:hover{
    transform:scale(1.5);
}
#check:checked ~ .sidebar_menu{
    left:0px;
}
#check:checked ~.btn_one{
    display:none;
}