body{
    text-align: center;
    background-color:rgb(220, 141, 181);
}
.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:10px solid black;
    margin:2.5rem;

}
.btn-container{
    display:flex;
    justify-content:center;
}
.red{
    background-color:rgba(231, 95, 95, 0.907);
}
.green{
    background-color:rgb(93, 223, 93);
}
.yellow{
    background-color:#f99b45;
}
.blue{
    background-color: #63aac0;
}
.flash{
    background-color:white;
}
.userFlash{
    background-color:lime;
}